doctype html
html(ng-app="joji")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, maximum-scale=1, initial-scale=1.0, user-scalable=no")
    meta(property="og:site_name", content="George Nishimura's Blog")
    meta(property="og:type", content="blog")
    meta(property="og:image", content="img/george-logo-white.png")#meta-image
    meta(property="og:title", content="George's Blog")#meta-title
    meta(property="og:url", content="http://www.georgenishimura.com")#meta-url
    title#head-title George's Blog
    base(href='/')
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    link(rel = "stylesheet", type="text/css", href="css/joji.css")
    link(href='http://fonts.googleapis.com/css?family=Bitter|Roboto+Slab|Open+Sans:400,600,700,800|Montserrat:400,700|Ubuntu', rel='stylesheet', type='text/css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
    script(src='js/modernizr.js')
  body
    block body
