doctype html
html(ng-app="joji")
  head
    meta(charset='utf8')
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    base(href='/')
    title George Nishimura
    link(rel = "stylesheet", type="text/css", href="css/joji.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Montserrat:400,700|Roboto', rel='stylesheet', type='text/css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
    script(src='js/modernizr.js')
  body
    block body
