doctype html
html(ng-app="joji")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width")
    base(href='/')
    title joji
    //- script(src='js/lib/custom.modernizr.js')
  body
    block body