doctype html
html(ng-app="joji")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width")
    base(href='/')
    title joji
    link(rel = "stylesheet", type="text/css", href="css/joji.css")
    link(href='http://fonts.googleapis.com/css?family=Hammersmith+One|Open+Sans|Montserrat', rel='stylesheet', type='text/css')
    //- script(src='js/lib/custom.modernizr.js')
  body
    block body