.blogpost-link
	min-height 8em
	width 100%
	background-repeat no-repeat
	background-size cover
	text-align center
	vertical-align middle
	margin 0
	line-height 8em
	cursor pointer
	border-bottom solid 1px white
	.title-container
		padding 1em 0
		display inline-block
		visibility hidden
		line-height 1em
		vertical-align middle
		font-size 50px

.blogpost-link:hover
	background-image none !important
	background-color black
	color white

.show-on-hover
		visibility visible !important

#bloglist
	overflow-y scroll

*
	-webkit-margin-before: 0
	-webkit-margin-after: 0

body
	margin 0
	padding 0

.blog-nav
	width 100%
	padding 2em 1em
	display	block
	text-align center
	div
		width 36em
		display inline-block
		text-align left
		a
			display block

a 
	text-decoration none
	color blue

a:visited
	color blue

a:hover
	color orange


.blog-post
	width 100%
	padding 2em 0
	text-align center
	display block

.blog-content
	width 42em
	display inline-block

.post-title
	// text-decoration underline
	font-family 'Hammersmith One'
	font-size 2em
	border-bottom solid 2px black
	display	inline-block

.post-content
	padding 2em 1em
	p 
		margin 0 2em 1em 2em
		text-align left
	a
		text-align left

.blog-page
	font-family 'Open Sans'
	font-size 1em