.light-theme
	a
		color #0000ff
	a:visited
		color #0000e5
	a:hover
		color #ffa500

.dark-theme
	a
		color #ffa500
	a:visited
		color #e59400
	a:hover
		color #cc8400

.blogpost-link
	min-height 8em
	width 100%
	background-repeat no-repeat
	background-size cover
	text-align center
	vertical-align middle
	margin 0
	cursor pointer
	border-bottom solid 1px white

.slug-container
	// padding 1em 0
	display inline-block
	visibility hidden
	line-height 3em
	// line-height 1em
	vertical-align middle
	width 100%

.slug-title
	font-size 3em
	font-family 'Montserrat'
	font-weight 700
	// line-height 3em

.slug-date
	font-family 'Open Sans'
	font-weight bold
	line-height .75em
	font-size .75em
	padding-bottom 1em

.show-on-hover
	visibility visible !important
	background-image none !important
	background-color black
	color white

#bloglist
	overflow-y scroll

// *
// 	-webkit-margin-before: 0
// 	-webkit-margin-after: 0

.bold
	font-weight bold

body
	margin 0
	padding 0

.blog-nav
	width 100%
	padding 2em 1em
	display	block
	text-align center
	background-color #333
	.nav-links
		width 36em
		display inline-block
		text-align left
		margin-bottom 1em
		p
			display block
			color white
			a
				font-family 'Montserrat'
				padding .5em
		> a
			margin-top 1em
.nav-sig
	padding 2em

#g-icon
	display inline-block
	background-image url('/img/george-logo-white.png')
	-webkit-background-size contain
	background-size contain
	background-repeat no-repeat
	width 50px
	height 50px

a
	text-decoration none


.blog-post
	width 100%
	text-align center
	display block
	a
		font-weight 600
		strong,em
			font-weight 800

.blog-header
	width 100%
	height 20em
	max-height 40%
	background-repeat no-repeat
	background-size cover

.blog-content
	padding-top 2em
	max-width 42em
	display inline-block

.image-link
	img
		width 100%

.share-links
	display inline-block
	width 100%
	padding-bottom 1em
	text-align center
	.qs-container
		padding 1em
		display inline-block
		border-top dotted 2px #eee
		.qs-link
			padding 0 1em
			color #aaa
		.qs-link:hover
			color orange

.post-title
	// text-decoration underline
	font-family 'Montserrat'
	font-weight 700
	font-size 2em
	margin .75em 0
	// border-bottom solid 2px black
	display	inline-block

.post-content
	padding 2em 1em 1em 1em
	text-align left
	p
		margin 0 2em 1em 2em
		text-align left
	a
		text-align left
	h1,h2,h3,h4,h5,h6
		margin 1em 0
		padding-left 4em

.blog-page
	font-family 'Open Sans'
	font-size 1em

.sloppy-note
	border-bottom dashed 1px
	color black !important
	font-weight normal !important

sloppy-note
	z-index 3
	position fixed
	top 0
	left 0
	right 0
	padding 1em 3em
	min-height 3em
	background-color black
	color white
	width 100%
	text-align left
	line-height 1.25em
	opacity .8
	div
		display inline
		height 100%
		vertical-align middle
.sloppy-icon
	float left
	width 10%
	padding-right 2em
	padding-bottom .25em
	color #333
	i
		float right

#target-sloppy-note-content
	float right
	width 90%
