.light-theme
    a
        color link_blue
    a:visited
        color link_dark_blue
    a:hover
        color link_light_orange
    a:active
        color link_light_orange

.dark-theme
    a
        color link_light_orange
    a:visited
        color link_orange
    a:hover
        color link_dark_orange
    a:active
        color link_dark_orange

#bloglist-background
    background-color light_bg

ul#blog-legend
    list-style-type none
    text-align center
    -webkit-padding-start 0
    li
        user-select none
        display inline
        border-radius 15%
        padding .5em
        margin 0 .25em
        font-size 1em
        line-height 1em
        vertical-align middle
        text-align center
        color text_white
        font-family 'Bitter'
        cursor pointer

.blogpost-link
    width 100%
    margin 0
    cursor pointer
    overflow-y visible
    // padding .25em
    border-top solid 1px light_gray

.blogpost-link:hover
    background-color light_gray

.blog-list-anchor
    text-align center
    vertical-align middle
    line-height 3em
    p
        display inline-block

.blogpost-link:first-child
        border none

.slug-container
    display inline-block
    width 100%
    color text_black
    vertical-align middle
    line-height 3em
    padding 1em 0

.slug-block
    display inline-block

.slug-right
    width 20%
    vertical-align top

 .slug-left
    width 80%
    padding-right .5em
    padding-left 1em

.slug-title
    font-size 2em
    font-family 'Montserrat' Arial sans-serif
    font-weight 700
    text-align left
    vertical-align middle

.slug-date
    font-family 'Open Sans' Helvetica sans-serif
    // font-weight bold
    font-size 1em
    text-align left
    vertical-align middle
    text-indent 1em

.slug-index
    border-radius 50%
    width 2.5em
    height 2.5em
    text-align center
    line-height 2.5em
    vertical-align middle
    font-size 1.5em
    color text_white
    font-weight bold
    font-family 'Bitter'

#bloglist
    overflow-y scroll
    margin auto
    max-width 55em

// *
//  -webkit-margin-before: 0
//  -webkit-margin-after: 0

.bold
    font-weight bold

.blog-nav
    width 100%
    padding 2em 1em
    display block
    text-align center
    background-color #333
    .nav-links
        width 36em
        display inline-block
        text-align left
        margin-bottom 1em
        p
            display block
            color text_white
            a
                font-family 'Montserrat' Arial sans-serif
                padding .5em
        > a
            margin-top 1em
.nav-sig
    padding 2em

#g-icon
    display inline-block
    background-image url('/img/george-logo-white.png')
    -webkit-background-size contain
    background-size contain
    background-repeat no-repeat
    width 50px
    height 50px
    cursor pointer

a
    text-decoration none


.blog-post
    width 100%
    text-align center
    display block
    a
        font-weight 600
        strong
            font-weight 800
    blockquote
        padding 2em 0 2em 4em
        background-color block_bg
        font-family 'Roboto Slab' courier sans-serif
        p
            margin .25em !important
    code
        background-color code_bg
        font-family 'Ubuntu' courier sans-serif

.blog-header
    width 100%
    height 20em
    max-height 40%
    background-repeat no-repeat
    background-size cover

.blog-content
    padding-top 2em
    max-width 42em
    display inline-block

.image-link
    img
        width 100%

.share-links
    display inline-block
    width 100%
    padding-bottom 1em
    text-align center
    .qs-container
        padding 1em
        display inline-block
        border-top dotted 2px light_gray
        .qs-link
            padding 0 1em
            color gray
        .qs-link:hover
            color orange
        .qs-link:active
            color orange

.post-title
    // text-decoration underline
    font-family 'Bitter' Arial sans-serif
    font-weight 400
    font-size 2.2em
    margin .75em 0
    // border-bottom solid 2px black
    display inline-block

.post-content
    padding 2em 1em 1em 1em
    text-align left
    p
        margin 0 2em 1em 2em
        text-align left
    a
        text-align left
    h1,h2,h3,h4,h5,h6
        margin 1em 0
        padding-left 4em
    ul,ol
        margin-left 2em

.blog-page
    font-family 'Open Sans' Helvetica sans-serif
    font-size 1em

.sloppy-note
    background-color #FEF0DB
    color text_black !important
    font-weight normal !important
    cursor pointer

sloppy-note
    z-index 3
    position fixed
    top 0
    left 0
    right 0
    padding 0 3em
    min-height 3em
    background-color dark_bg
    color text_white
    width 100%
    text-align left
    line-height 1.25em
    opacity .85
    div
        display inline
        height 100%
        vertical-align middle
.sloppy-icon
    float left
    cursor pointer
    width 10%
    padding-right 2em
    padding-top .75em
    padding-bottom .75em
    color #333
    i
        float right
    i:hover
        color #555

#target-sloppy-note-content
    float right
    width 90%

@media (max-width: 400px)
    #blog-legend
        display none
