
indigo = #574D72
crimson = #8A1722
jonquil = #ECC850
slate = #3A3B3C
nieman_teal = #18A08C
alizarin = #EF4140
nieman_orange = #F37542
nieman_gray = #3A3b3C

.list-thoughts
	background-color indigo

.list-tech
	background-color nieman_teal

.list-random
	background-color jonquil

.list-meta
	background-color crimson

.list-journal
	background-color slate
