
indigo = #574D72
crimson = #8A1722
jonquil = #ECC850
slate = #3A3B3C
n_teal = #18A08C
alizarin = #EF4140
n_orange = #F37542
n_gray = #3A3b3C

active_change = 15

.list-thoughts
	background-color indigo

.list-tech
	background-color n_teal

.list-random
	background-color jonquil

.list-meta
	background-color crimson

.list-journal
	background-color slate

.list-thoughts.active
	background-color darken(indigo,active_change)

.list-tech.active
	background-color darken(n_teal,active_change)

.list-random.active
	background-color darken(jonquil,active_change)

.list-meta.active
	background-color darken(crimson,active_change)

.list-journal.active
	background-color darken(slate,active_change)
