/* Color Variables */

aqua =    #7FDBFF
blue =    #0074D9
navy =    #001F3F
teal =    #39CCCC
green =   #2ECC40
olive =   #3D9970
lime =    #01FF70
yellow =  #FFDC00
orange =  #FF851B
red =     #FF4136
fuchsia = #F012BE
purple =  #B10DC9
maroon =  #85144B
white =   #ffffff
silver =  #dddddd
gray =    #aaaaaa
black =   #111111
light_gray =	#eeeeee

light_bg = white
dark_bg = black

block_bg = #f4f4f4
code_bg = #f4f4f4


text_black = black
text_white = white

link_light_orange = #ffa500
link_orange = #e59400
link_dark_orange = #cc8400
link_dark_blue = #005bff
link_blue = #327bff

sloppy_highlight = #FEF0DB
