.cs-row
	.cs-block.stream-one.cs-not-full.about-stream
		.stream-title contact
		.stream-content.cs-hidden
			div
				a(href="mailto:info@georgenishimura.com")
					i.fa.fa-envelope
			div
				a(href="https://twitter.com/thetmkay", target="_blank")
					i.fa.fa-twitter
	.cs-block.stream-two.cs-not-full
		.stream-title projects
		.stream-content.cs-hidden
			.project-block
				a(href="http://github.com/thetmkay")
					i.fa.fa-github
			.project-block
				a(href="http://subbrapp.com", target="_blank", style="background-image:url(/img/subbr-square.png)")
					i.fa
			.project-block
				a(href="http://georgenishimura.com", target="_blank", style="background-image:url(/img/joji-square.png)")
					i.fa
			.project-block
				a(href="http://bloomboard.herokuapp.com", target="_blank", style="background-image:url(/img/bloomboard-square.png)")
					i.fa

	.cs-block.stream-three.cs-not-full
		.stream-title links
		.stream-content.cs-hidden
			div
				a(href="/blog", target="_blank", style="background-image:url(/img/blog-avatar-j.png)")
					i.fa
			div
				a(href="https://twitter.com/thetmkay", target="_blank", style="background-image:url(/img/twitter-avatar.jpg)")
					i.fa.fa-twitter
			div
				a(href="https://www.facebook.com/jorji.west", target="_blank", style="background-image:url(/img/fb-avatar.jpg)")
					i.fa.fa-facebook
			div
				a(href="https://www.linkedin.com/profile/view?id=149814893", target="_blank", style="background-image:url(/img/linkedin-avatar.jpg)")
					i.fa.fa-linkedin