.cs-row
	.cs-block.stream-one.cs-not-full.about-stream
		h1 work
		#work-content.cs-hidden
			p This is all the projects that I've worked on
			a GitHub
	.cs-block.stream-two.cs-not-full
		h1 bio
		#bio-content.cs-hidden
			.bio-part
				.img-container
					img(src="/img/japan_icon_white.png" height="100px" width="100px")
				.img-info
					ul
						li Born in Tokyo in 1993
						li Loves: ramen / One Piece
			.bio-part.bio-arrow
				i.fa.fa-lg.fa-arrow-right
			.bio-part
				.img-container
					img(src="/img/uk_icon_white.png" height="100px" width="100px")
				.img-info
					ul
						li Moved to London in 2000
						li Attended the American School in London
						li Studying Computing at Imperial College London
						li Teams: #LFC / FRC Team 1884 / discDoctors
			.bio-part.bio-arrow
				i.fa.fa-lg.fa-arrow-right
			.bio-part
				.img-container
					img(src="/img/us_icon_white.png" height="100px" width="100px")
				.img-info
					ul
						li Moved to Redmond for Summer of 2013
						li Living in Boston until September 2014
	.cs-block.stream-three.cs-not-full
		h1 more
		#more-content.cs-hidden
			a link to blog
			a link to twitter
			a link to facebook
			a link to email