.cs-row
	.cs-block.stream-one.cs-not-full.about-stream
		p hello world
	.cs-block.stream-two.cs-not-full
		p hi world
	.cs-block.stream-three.cs-not-full
		p hello universe
.cs-row
	.cs-block.stream-one.cs-not-full.about-stream
		p hello world
	.cs-block.stream-two.cs-not-full
		p hi world
	.cs-block.stream-three.cs-not-full
		p hello universe
.cs-row
	.cs-block.stream-one.cs-not-full
		p hello world
	.cs-block.stream-two.cs-not-full
		p hi world
	.cs-block.stream-three.cs-not-full
		p hello universe
.cs-row
	.cs-block.stream-one.cs-not-full.about-stream
		p hello world
	.cs-block.stream-two.cs-not-full
		p hi world
	.cs-block.stream-three.cs-not-full
		p hello universe
