.cs-row
	.cs-block.stream-one.cs-not-full.about-stream
		.stream-title contact
		.stream-content.cs-hidden
			div
				a(href="/")
					i.fa.fa-envelope
			div
				a(href="/")
					i.fa.fa-twitter
	.cs-block.stream-two.cs-not-full
		.stream-title projects
		.stream-content.cs-hidden
			.project-block
	.cs-block.stream-three.cs-not-full
		.stream-title links
		.stream-content.cs-hidden
			div
				a(href="/blog" style="background-image:url(/img/blog-avatar-j.png)")
					i.fa
			div
				a(href="https://twitter.com/thetmkay" style="background-image:url(/img/twitter-avatar.jpg)")
					i.fa.fa-twitter
			div
				a(href="https://www.facebook.com/jorji.west" style="background-image:url(/img/fb-avatar.jpg)")
					i.fa.fa-facebook
			div
				a(href="https://www.linkedin.com/profile/view?id=149814893" style="background-image:url(/img/linkedin-avatar.jpg)")
					i.fa.fa-linkedin