.window-size#home-background
	.row.full-width.header
	.row.full-width.home-grid
		.column-half
			.row
				.grid-block.grid-block-1
					.content
				.grid-block.grid-block-2
					.content
			.row
				.grid-block.grid-block-1
					.content
				.grid-block.grid-block-1
					.content
				.grid-block.grid-block-1
					.content
			.row
				.grid-block.grid-block-3
					.content
		.column-half
			.background-container
				//- img(src="http://i.imgur.com/6K3BGox.jpg")
	.row.full-width.footer
	img(style="display:none;visibility:hidden", url="http://i.imgur.com/6K3BGox.jpg")#image
