.page-flipper-container(style="background:{{bg}};color:{{color}}")
	.page-flipper-control.page-flipper-control-background(style="background:{{dialogbg}}")
	.page-flipper-control
		.page-flipper-control-content
			.page-flipper-top Hi, I'm George
			.page-flipper-mid
				span and I 
				span.page-flipper-controller(ng-click="changeBackground()", style="background-color:{{highlight}}") {{text}} 
			.page-flipper-bottom(class="{{linkclass}}") 
				a(href="{{url}}") check it out
	.photo-attribution(ng-show=attribution) {{attribution}}