#home-slide-show(width="400", height="500", scroll-stop)
	home-slide(templateName="splash", index=0)
	home-slide(templateName="about", index=1)
	home-slide(templateName="blog", index=2)
	home-slide(templateName="contact", index=3)
	//- div(ui-view="home-slide", templateName="about")
	//- div(ui-view="home-slide", templateName="portfolio")
