//- #bloglist
//- 	.blogpost-link.show-contents-on-hover(ng-repeat="post in posts")(style="background-image:url('{{post.image}}'); color={{post.color}};")
//- 		p {{post.title}}

#bloglist
	blog-slug(ng-repeat="post in posts", for-post="post")
	.blog-list-anchor
		p.slug-title That's it, you've reached the end.
