//- #bloglist
//- 	.blogpost-link.show-contents-on-hover(ng-repeat="post in posts")(style="background-image:url('{{post.image}}'); color={{post.color}};")
//- 		p {{post.title}}

#bloglist-background
	#bloglist
		blog-slug(ng-repeat="post in posts", for-post="post")
		//- .blog-list-anchor
		//- 	p.slug-title no more posts
