//- #bloglist
//- 	.blogpost-link.show-contents-on-hover(ng-repeat="post in posts")(style="background-image:url('{{post.image}}'); color={{post.color}};")
//- 		p {{post.title}}

#bloglist-background
	#bloglist
		ul#blog-legend
			li.list-meta meta
			li.list-thoughts thoughts
			li.list-tech tech
			li.list-random random
			li.list-journal journal
		blog-slug(ng-repeat="post in posts | orderBy: 'index' : true", for-post="post")
		//- .blog-list-anchor
		//- 	p.slug-title no more posts
