.nav-links
	p(ng-show="next_url") next:
		a(href='blog/post/{{next_url}}')  {{next_title}}
	p(ng-show="prev_url") previous:
		a(href='blog/post/{{prev_url}}')  {{prev_title}}
	//- a(href='blog').bold back to list
.nav-sig
	a(href='/') return to list
