div.qs-container(data-qs-url="http://georgenishimura.com/blog/post/" data-qs-title="GN Blog: ")(ng-show="showShare")
	a.qs-link(data-qs-service="twitter")
		i.qs-icon.fa-2x
	a.qs-link(data-qs-service="facebook-share")
		i.qs-icon.fa-2x

