.blogpost-link
	.slug-container
		.slug-left.slug-block
			.slug-title {{post.title}}
			.slug-date {{post.shown_date | date : 'shortDate'}}
		.slug-right.slug-block
			.slug-index(class="list-{{post.category}}") {{post.index}}

